/* ----------------------- Reset -------------------------- */
@import url('../fonts/font.css');
* {
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  font-size: 14px;
}
body {
  font-family: 'Montserrat';
  color: #fff;
  padding-bottom: 0;
}
a {
  color: inherit;
  text-decoration: none;
  z-index: 11;
}
a.line-through {
  padding: 0;
  position: relative;
}
a.line-through:after {
  content: " ";
  position: absolute;
  top: 55%;
  left: 0;
  width: 0;
  right: auto;
  height: 2px;
  background-color: #fff;
  transition: width .25s;
}
a.line-through:hover:after,
a.line-through:active:after,
a.line-through:focus:after,
a.line-through[active]:after {
  width: 100%;
  transition: width .25s;
  color: inherit;
}
a.underline {
  text-decoration: none;
  position: relative;
}
a.underline:after {
  content: " ";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #fff;
}
/* ----------------------- Fonts --------------------------- */
/* ------------------ Variables & mixins ------------------- */
/* -------------------- Colors ---------------------- */
/* -------------------- Fonts ---------------------- */
/* -------------------- Steps ---------------------- */
.button {
  width: 170px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #2470cf;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  margin-top: 25px;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(36, 112, 207, 0.9);
}
/* ---------------------- Components ----------------------- */
/* ----------------------- Import -------------------------- */
.nav-on-scroll {
  position: fixed;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 50px 50px 0;
  color: #fff;
  font-size: 1.3rem;
  box-sizing: border-box;
  z-index: 10;
  font-size: 0;
}
.nav__links {
  width: calc((100% - 183px) / 2);
  display: inline-block;
  vertical-align: top;
}
.nav__links__item {
  display: inline-block;
  opacity: .5;
  font-size: 1.3rem;
  line-height: 37px;
}
.nav__links__item:hover {
  opacity: 1;
}
.nav__links__item + .nav__links__item {
  margin-left: 40px;
}
.nav__brand {
  width: 183px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.nav__brand__logo_on-white {
  display: none;
}
.nav__contact {
  width: calc((100% - 183px) / 2);
  display: inline-block;
  font-size: 1.3rem;
  text-align: right;
  line-height: 37px;
  vertical-align: top;
}
.nav__contact__link {
  display: inline-block;
  opacity: .5;
}
.nav__contact__link:hover {
  opacity: 1;
}
.nav__contact__icon {
  display: inline-block;
  margin-top: 13px;
  vertical-align: top;
}
.nav__contact__icon_on-light {
  display: none;
}
.nav__contact__text {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
.ha-header-hide .nav {
  transition: all 0.2s;
  transition-delay: 1s;
}
.ha-header-hide .nav,
.ha-header-small .nav {
  padding: 10px 50px;
  background-color: #000;
}
.ha-header {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
.ha-header-small {
  height: 50px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 60px;
  color: #fff;
  box-sizing: border-box;
  font-size: 0;
  z-index: 10;
}
.footer__copyright {
  width: calc((100% - 300px) / 2);
  display: inline-block;
  font-size: 1rem;
  font-family: 'Montserrat Light';
  height: 20px;
  line-height: 20px;
  letter-spacing: 0.5px;
  vertical-align: top;
  opacity: .5;
}
.footer__social {
  width: calc((100% - 300px) / 2);
  display: inline-block;
  height: 20px;
  line-height: 20px;
  vertical-align: top;
}
.footer .page-nav {
  display: inline-block;
  width: 300px;
}
.footer .page-nav__list {
  text-align: center;
}
.footer .page-nav__list__item {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  opacity: .5;
}
.footer .page-nav__list__item:hover {
  opacity: .7;
}
.footer .page-nav__list__item.active {
  opacity: 1;
}
.footer .page-nav__list__item:last-child {
  margin-right: 0;
}
.footer .page-nav__list__item a {
  display: block;
  padding: calc((20px - 3px) / 2) 0;
}
.footer .page-nav__list__item a div {
  height: 3px;
  width: 30px;
  background-color: #fff;
}
.footer .footer__offset {
  display: inline-block;
  width: 300px;
}
.social-list {
  text-align: right;
}
.social-list__item {
  opacity: .5;
  display: inline-block;
}
.social-list__item:hover {
  opacity: 1;
}
.social-list__item + .social-list__item {
  margin-left: 20px;
}
.social-list__item img {
  height: 20px;
  width: auto;
}
.social-list__item_on-light {
  display: none;
}
.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.wrapper-base {
  display: block;
  padding-top: 330px;
}
.wrapper-base .wrapper__parallax {
  background-color: #fff;
  margin-top: 212px;
}
.wrapper-base__link {
  margin-top: 100px;
  width: 100%;
  height: 240px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.wrapper-base__link a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  position: relative;
}
.wrapper-base__link a:before {
  content: ' ';
  height: 240px;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.wrapper-base__link a:hover .wrapper-base__link__title,
.wrapper-base__link a:hover .wrapper-base__link__project {
  color: #fff;
}
.wrapper-base__link a:hover .wrapper-base__link__arrow:after {
  background-image: url('../img/arrow_w.png');
}
.wrapper-base__link a > div {
  display: inline-block;
  vertical-align: middle;
}
.wrapper-base__link__title {
  color: #000;
  opacity: .5;
  transition: all 350ms linear;
}
.wrapper-base__link__project {
  font-size: 4rem;
  color: #000;
  font-family: 'Montserrat Bold';
  transition: all 350ms linear;
}
.wrapper-base__link__arrow {
  width: 100px;
  display: block;
  height: 24px;
  position: relative;
  margin: 10px auto 0 auto;
}
.wrapper-base__link__arrow:after {
  content: ' ';
  position: absolute;
  top: calc(50% - 24px / 2);
  right: calc(50% - 17px);
  transition: all 350ms;
  opacity: .5;
  background-image: url('../img/arrow_b.png');
  background-size: 100%;
  height: 24px;
  width: 35px;
  background-repeat: no-repeat;
}
.main {
  margin: auto;
  text-align: center;
  width: 95%;
  max-height: 402px;
  max-width: 1500px;
  color: #fff;
  font-size: 0;
}
.main_on-light {
  color: #000;
}
.main__title {
  font-size: 4rem;
  font-family: 'Montserrat Bold';
  max-width: 600px;
  margin: 0 auto;
}
.main__title + .main__caption {
  margin-top: 15px;
}
.main__title_large {
  font-size: 5rem;
  max-width: 750px;
}
.main__caption {
  font-size: 1.3rem;
  opacity: .5;
  font-family: 'Montserrat Light';
  line-height: 30px;
}
.main__link {
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 1rem;
}
.main .left-side {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  height: 450px;
  padding-bottom: 100px;
  padding: 30px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity .2s;
}
.main .left-side .main__title,
.main .left-side .main__caption,
.main .left-side .main__link {
  text-align: left;
  width: 100%;
  max-width: 100%;
}
.main .left-side .main__title {
  margin-top: 20px;
}
.main .left-side .main__caption {
  font-size: 1.3rem;
  max-width: 470px;
}
.main .right-side {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  height: 450px;
  position: relative;
  padding: 30px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity .2s;
}
.main .right-side__img {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  height: auto;
}
@media (max-width: 1920px) {
  .main .right-side__img {
    width: calc(100% - 30px * 2);
  }
}
.main__form {
  width: 80%;
  max-width: 620px;
}
.main__form_hide {
  display: none !important;
}
.main__form form {
  margin-top: 50px;
  text-align: left;
}
.main__form__input {
  display: block;
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 1.3rem;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.main__form__input:focus {
  border-bottom-color: #000;
}
.main__form__input + .main__form__input {
  margin-top: 20px;
}
.main__form__submit {
  width: 170px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #2470cf;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  margin-top: 25px;
  cursor: pointer;
}
.main__form__submit:hover {
  background-color: rgba(36, 112, 207, 0.9);
}
.main__form__alert_hide {
  display: none !important;
}
.main__form__alert__caption {
  display: inline-block;
  margin-top: 30px;
  width: 340px;
  font-size: 1rem;
  line-height: 24px;
  vertical-align: top;
  font-size: 1.3rem;
  opacity: .5;
  font-family: 'Montserrat Light';
  line-height: 25px;
}
.main__form__alert__submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #2470cf;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  margin-top: 25px;
  cursor: pointer;
}
.main__form__alert__submit:hover {
  background-color: rgba(36, 112, 207, 0.9);
}
.keep-touch {
  margin-top: 120px;
}
.keep-touch-item {
  display: inline-block;
  vertical-align: top;
}
.keep-touch-item:first-child {
  float: left;
}
.keep-touch-item:last-child {
  float: right;
}
.keep-touch-title {
  display: inline-block;
  vertical-align: bottom;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  height: 30px;
  line-height: 30px;
}
.keep-touch-links {
  display: inline-block;
  vertical-align: bottom;
}
.keep-touch-links-item {
  display: inline-block;
  vertical-align: bottom;
  color: #000;
  font-size: 1.3rem;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
}
.keep-touch-links-item img {
  height: 23px;
  width: auto;
}
.keep-touch-links-item a {
  font-size: inherit;
  height: 30px;
  line-height: 30px;
}
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 550px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(36, 112, 207, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .3;
}
.no-touch .cd-top:hover {
  background-color: #2470cf;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 550px;
  }
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .3;
}
.banner {
  width: 100%;
  height: 570px;
  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  display: block;
  position: fixed;
  top: 0;
  z-index: -1;
}
.banner:before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 54%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}
.banner_tl {
  background-image: url('../img/toplombard/00.jpg');
}
.banner_it {
  background-image: url('../img/itima/00.jpg');
}
.banner_nt {
  background-image: url('../img/novteh/00.jpg');
}
.banner_snk {
  background-image: url('../img/snk/00.jpg');
}
.banner_is {
  background-image: url('../img/ideal_solution/00.jpg');
}
.container {
  width: calc(100% - (30px * 2));
  max-width: 1350px;
  margin: 0 auto;
  display: block;
  position: relative;
  font-size: 0;
  padding-top: 120px;
}
.container__title {
  margin-top: 120px;
  text-align: center;
  font-size: 2rem;
  color: #000;
  font-family: 'Montserrat Bold';
}
.container__text {
  font-size: 1.3rem;
  color: #000;
  font-family: 'Montserrat Light';
  opacity: .5;
  max-width: 490px;
  margin: 40px auto;
  text-align: center;
  line-height: 30px;
}
.container__left {
  display: inline-block;
  width: 50%;
  padding-left: 90px;
  box-sizing: border-box;
  vertical-align: top;
}
.container__left .container__title {
  text-align: left;
  margin-top: 0;
}
.container__right {
  display: inline-block;
  width: 50%;
  padding-right: 90px;
  box-sizing: border-box;
  vertical-align: top;
}
.container__right .container__text {
  max-width: 340px;
  text-align: left;
  margin: 0 auto;
}
.container .container__img {
  margin-top: 120px;
}
.container .container__img img {
  width: 100%;
  height: auto;
}
.header {
  width: 100%;
  top: -402px;
  left: 0;
  right: 0;
  position: absolute;
  margin-bottom: -70px;
}
.header:after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  content: ' ';
  border: 15px solid transparent;
}
.header_tl {
  background-color: #000;
}
.header_tl:after {
  border-top-color: #000;
}
.header_it {
  background-color: #9c2856;
}
.header_it:after {
  border-top-color: #9c2856;
}
.header_nt {
  background-color: #1e272b;
}
.header_nt:after {
  border-top-color: #1e272b;
}
.header_snk {
  background-color: #479c38;
}
.header_snk:after {
  border-top-color: #479c38;
}
.header_is {
  background-color: #633978;
}
.header_is:after {
  border-top-color: #633978;
}
.header .main {
  width: 100%;
  padding: 90px;
  box-sizing: border-box;
}
.header .main .left-side {
  width: 50%;
  height: auto;
  opacity: 1;
  padding: 0;
}
.header .main .right-side {
  width: 50%;
  height: auto;
  opacity: 1;
  padding: 0;
}
.description-list {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
}
.description-list__item__title {
  font-size: 1rem;
  text-transform: uppercase;
  opacity: .5;
  margin-bottom: 10px;
}
.description-list__item__text {
  font-size: 1.3rem;
}
.description-list__item + .description-list__item {
  margin-top: 30px;
}
.base-footer {
  background-color: #000;
  box-sizing: border-box;
  text-align: center;
  padding: 70px;
}
.base-footer .social-list {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.base-footer__copyright {
  opacity: .5;
  font-family: 'Montserrat Light';
}
/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
.pp-tableCell {
  padding: 0 90px;
}
#pp-nav.custom .pp-tooltip {
  position: fixed;
  z-index: 100;
  margin: 0 !important;
  top: 50%;
  opacity: 1;
}
#pp-nav.custom .pp-tooltip ul li {
  display: inline-block;
}
.pp-viewing-page1 [data-anchor="page1"] .left-side,
.pp-viewing-page1 [data-anchor="page1"] .right-side {
  opacity: 1;
  transition: opacity 0.5s 0.5s;
}
.pp-viewing-page1 a.underline:after {
  background-color: #000;
}
.pp-viewing-page1 .nav-on-scroll {
  color: #000;
}
.pp-viewing-page1 .nav-on-scroll a.line-through:after {
  background-color: #000;
}
.pp-viewing-page1 .nav-on-scroll .nav__brand__logo {
  display: none;
}
.pp-viewing-page1 .nav-on-scroll .nav__brand__logo_on-white {
  display: block;
}
.pp-viewing-page1 .nav-on-scroll .nav__contact__icon_on-dark {
  display: none;
}
.pp-viewing-page1 .nav-on-scroll .nav__contact__icon_on-light {
  display: inline-block;
}
.pp-viewing-page1 .footer,
.pp-viewing-page1 .social-list {
  color: #000;
}
.pp-viewing-page1 .page-nav__list__item a div {
  background-color: #000;
}
.pp-viewing-page1 .counter {
  color: #000;
  display: block;
}
.pp-viewing-page1 .counter__i__list {
  top: 0;
}
.pp-viewing-page1 .social-list__item_on-dark {
  display: none;
}
.pp-viewing-page1 .social-list__item_on-light {
  display: inline-block;
}
.pp-viewing-page1 .stars {
  display: none;
}
.pp-viewing-page2 [data-anchor="page2"] .left-side,
.pp-viewing-page2 [data-anchor="page2"] .right-side {
  opacity: 1;
  transition: opacity 0.5s 0.5s;
}
.pp-viewing-page2 .counter {
  display: block;
}
.pp-viewing-page2 .counter__i__list {
  top: -200px;
}
.pp-viewing-page2 .stars {
  display: none;
}
.pp-viewing-page3 [data-anchor="page3"] .left-side,
.pp-viewing-page3 [data-anchor="page3"] .right-side {
  opacity: 1;
  transition: opacity 0.5s 0.5s;
}
.pp-viewing-page3 .counter {
  display: block;
}
.pp-viewing-page3 .counter__i__list {
  top: -400px;
}
.pp-viewing-page3 .stars {
  display: none;
}
.pp-viewing-page4 [data-anchor="page4"] .left-side,
.pp-viewing-page4 [data-anchor="page4"] .right-side {
  opacity: 1;
  transition: opacity 0.5s 0.5s;
}
.pp-viewing-page4 .counter {
  display: block;
}
.pp-viewing-page4 .counter__i__list {
  top: -600px;
}
.pp-viewing-page4 .stars {
  display: none;
}
.pp-viewing-page5 [data-anchor="page5"] .left-side,
.pp-viewing-page5 [data-anchor="page5"] .right-side {
  opacity: 1;
  transition: opacity 0.5s 0.5s;
}
.pp-viewing-page5 .counter {
  display: block;
}
.pp-viewing-page5 .counter__i__list {
  top: -800px;
}
.pp-viewing-page5 .stars {
  display: none;
}
.counter {
  display: none;
  width: calc(95% - 30px * 2);
  max-width: calc(1500px - 30px * 2);
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  margin: auto;
  padding: 350px 30px 0;
  left: calc(100vw - 100%);
  z-index: 5;
  font-size: 0;
  pointer-events: none;
  opacity: .3;
}
.counter_on-light {
  color: #000;
}
.counter__i {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 70px;
  height: 100px;
  vertical-align: bottom;
  position: relative;
  overflow: hidden;
}
.counter__i__list {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 1s;
}
.counter__i__item {
  display: block;
  width: 100%;
  line-height: 100px;
  font-size: 116px;
  font-weight: bold;
  box-sizing: border-box;
}
.counter__i__item + .counter__i__item {
  margin-top: 100px;
}
.counter__length {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 27px;
  vertical-align: bottom;
}
.md {
  /* Content styles */
  /* Individual modal styles with animations/transitions */
  /* Effect 1: Fade in and scale up */
}
.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}
.md-perspective body {
  background: #222;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
}
.md .container {
  background: #fff;
  min-height: 100%;
}
.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  width: calc(100vw - 50px * 2);
  max-width: 100vw;
  height: calc(100vh - 50px * 2);
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.md-show {
  visibility: visible;
}
.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: #000;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
.md-show ~ .md-overlay {
  opacity: 1;
  visibility: visible;
}
.md-content {
  background-color: #fff;
  color: #000;
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.md-content__main {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}
.md-content__main__left,
.md-content__main__right {
  display: inline-block;
  width: 510px;
  height: auto;
  text-align: left;
  vertical-align: top;
}
.md-content__header {
  width: 100%;
  padding: 40px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.md-content__body {
  height: calc(100% - 114px);
}
.md-content .main__title {
  width: 100%;
  max-width: 100%;
  text-align: left;
}
.md-content .main__title_small {
  font-size: 2rem;
}
.md-content .main__paragraph {
  margin-top: 40px;
  opacity: .5;
  font-family: 'Montserrat Light';
}
.md-content .main__text {
  font-size: 1.3rem;
  line-height: 26px;
}
.md-content .main__caption {
  display: inline-block;
  margin-top: 40px;
  width: 50%;
  font-size: 1rem;
  line-height: 24px;
  vertical-align: top;
  padding-right: 40px;
  box-sizing: border-box;
}
.md-content .clients {
  width: 400px;
}
.md-content .clients__item {
  margin-top: 40px;
  width: calc(100% / 3);
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
.md-content .clients__item:nth-child(1),
.md-content .clients__item:nth-child(4),
.md-content .clients__item:nth-child(7) {
  text-align: left;
}
.md-content .clients__item:nth-child(3),
.md-content .clients__item:nth-child(6) {
  text-align: right;
}
.md-content h3 {
  margin: 0;
  padding: 0.4em;
  text-align: center;
  font-size: 2.4em;
  font-weight: 300;
  opacity: 0.8;
  background: rgba(0, 0, 0, 0.1);
}
.md-effect-1 .md-content {
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: all 350ms linear;
  -moz-transition: all 350ms linear;
  transition: all 350ms linear;
}
.md-effect-1 .md-content > * {
  opacity: 0;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  transition: all 100ms;
}
.md-show.md-effect-1 .md-content {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
}
.md-show.md-effect-1 .md-content > * {
  opacity: 1;
  transition: all 450ms cubic-bezier(1, -0.58, 1, 0.88);
}
@media screen and (max-width: 32em) {
  body {
    font-size: 75%;
  }
}
.projects {
  font-size: 1rem;
  height: 100%;
  overflow-y: auto;
  list-style: none;
}
.projects::-webkit-scrollbar {
  display: none;
}
.projects__item {
  height: 20vh;
  min-height: 100px;
  counter-increment: step-counter;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 120px;
  text-align: left;
  background-color: transparent;
  transition: all 350ms linear;
}
.projects__item:before {
  position: absolute;
  width: 10px;
  height: 30px;
  line-height: 30px;
  top: calc(50% - 30px / 2);
  left: 50px;
  content: '0' counter(step-counter);
  color: #a1a1a1;
  font-size: 1.7rem;
  font-family: 'Montserrat Light';
}
.projects__item:after {
  content: ' ';
  position: absolute;
  top: calc(50% - 24px / 2);
  right: 7%;
  transition: all 500ms;
  opacity: 0;
  background-image: url('../img/arrow_w.png');
  background-size: 100%;
  height: 24px;
  width: 35px;
  background-repeat: no-repeat;
}
.projects__item:hover {
  color: #fff;
}
.projects__item:hover:after {
  right: 5%;
  opacity: .5;
}
.projects__item:hover:before {
  color: #fff;
}
.projects__item_tl:hover {
  background-color: #bd9663;
}
.projects__item_it:hover {
  background-color: #9c2856;
}
.projects__item_nt:hover {
  background-color: #1e272b;
}
.projects__item_snk:hover {
  background-color: #479c38;
}
.projects__item_is:hover {
  background-color: #633978;
}
.projects__item_contacts:hover {
  background-color: #2470cf;
}
.projects__item a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
}
.projects__item a > div {
  display: inline-block;
  width: 100%;
  min-height: 70px;
  vertical-align: middle;
}
.projects__item__category {
  font-size: 1rem;
  opacity: .5;
  line-height: 20px;
  height: 20px;
}
.projects__item__name {
  line-height: 80px;
  height: 80px;
}
.close {
  display: block;
  font-size: 10.5px;
  letter-spacing: .1em;
}
.close__btn {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.close,
.contact-modal .contact-modal-content,
.contact-modal .contact-social {
  -webkit-transition: 0.55s cubic-bezier(0.52, 0.01, 0.16, 1) 0.4s;
  -moz-transition: 0.55s cubic-bezier(0.52, 0.01, 0.16, 1) 0.4s;
  transition: 0.55s cubic-bezier(0.52, 0.01, 0.16, 1) 0.4s;
}
.contact-modal a,
.contact-modal h4,
.contact-modal p,
.mob-nav a,
.mob-nav h3,
body[data-state=intro] .sound-on-off span,
nav[data-state=intro] a,
nav[data-state=project] a {
  color: #212121;
}
.close {
  width: 16px;
  height: 16px;
  transform: scale(2);
}
.close span::before {
  -webkit-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -moz-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -ms-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -o-transform: rotate(45deg) translateZ(0) scale(1, 1);
  transform: rotate(45deg) translateZ(0) scale(1, 1);
}
.close span::after,
.close span::before {
  content: '';
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #212121;
  margin-top: -1px;
  -webkit-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  -moz-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
}
.close span::after {
  -webkit-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -moz-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -ms-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -o-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  transform: rotate(-45deg) translateZ(0) scale(1, 1);
}
.close span::after,
.close span::before {
  content: '';
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #212121;
  margin-top: -1px;
  -webkit-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  -moz-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
}
.close span:nth-child(2)::before {
  -webkit-transform: rotate(45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  -moz-transform: rotate(45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  -ms-transform: rotate(45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  -o-transform: rotate(45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  transform: rotate(45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
}
.close span:nth-child(2)::after,
.close span:nth-child(2)::before,
.close:hover span:nth-child(1)::after,
.close:hover span:nth-child(1)::before {
  background-color: rgba(33, 33, 33, 0);
}
.close span::before {
  -webkit-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -moz-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -ms-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -o-transform: rotate(45deg) translateZ(0) scale(1, 1);
  transform: rotate(45deg) translateZ(0) scale(1, 1);
}
.close span::after,
.close span::before {
  content: '';
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #212121;
  margin-top: -1px;
  -webkit-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  -moz-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
}
.close span:nth-child(2)::after {
  -webkit-transform: rotate(-45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  -moz-transform: rotate(-45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  -ms-transform: rotate(-45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  -o-transform: rotate(-45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  transform: rotate(-45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
}
.close span:nth-child(2)::after,
.close span:nth-child(2)::before,
.close:hover span:nth-child(1)::after,
.close:hover span:nth-child(1)::before {
  background-color: rgba(33, 33, 33, 0);
}
.close span::after {
  -webkit-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -moz-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -ms-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -o-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  transform: rotate(-45deg) translateZ(0) scale(1, 1);
}
.close span::after,
.close span::before {
  content: '';
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #212121;
  margin-top: -1px;
  -webkit-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  -moz-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
}
.close:hover span:nth-child(1)::before {
  -webkit-transform: rotate(45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  -moz-transform: rotate(45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  -ms-transform: rotate(45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  -o-transform: rotate(45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  transform: rotate(45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
}
.close span:nth-child(2)::after,
.close span:nth-child(2)::before,
.close:hover span:nth-child(1)::after,
.close:hover span:nth-child(1)::before {
  background-color: rgba(33, 33, 33, 0);
}
.close span::before {
  -webkit-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -moz-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -ms-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -o-transform: rotate(45deg) translateZ(0) scale(1, 1);
  transform: rotate(45deg) translateZ(0) scale(1, 1);
}
.close span::after,
.close span::before {
  content: '';
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #212121;
  margin-top: -1px;
  -webkit-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  -moz-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
}
.close:hover span:nth-child(1)::after {
  -webkit-transition-delay: .15s;
  -moz-transition-delay: .15s;
  transition-delay: .15s;
  -webkit-transform: rotate(-45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  -moz-transform: rotate(-45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  -ms-transform: rotate(-45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  -o-transform: rotate(-45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  transform: rotate(-45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
}
.close span:nth-child(2)::after,
.close span:nth-child(2)::before,
.close:hover span:nth-child(1)::after,
.close:hover span:nth-child(1)::before {
  background-color: rgba(33, 33, 33, 0);
}
.close span::after {
  -webkit-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -moz-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -ms-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -o-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  transform: rotate(-45deg) translateZ(0) scale(1, 1);
}
.close span::after,
.close span::before {
  content: '';
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #212121;
  margin-top: -1px;
  -webkit-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  -moz-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
}
.close:hover span:nth-child(1)::before {
  -webkit-transform: rotate(45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  -moz-transform: rotate(45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  -ms-transform: rotate(45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  -o-transform: rotate(45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  transform: rotate(45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
}
.close span:nth-child(2)::after,
.close span:nth-child(2)::before,
.close:hover span:nth-child(1)::after,
.close:hover span:nth-child(1)::before {
  background-color: rgba(33, 33, 33, 0);
}
.close span::before {
  -webkit-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -moz-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -ms-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -o-transform: rotate(45deg) translateZ(0) scale(1, 1);
  transform: rotate(45deg) translateZ(0) scale(1, 1);
}
.close span::after,
.close span::before {
  content: '';
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #212121;
  margin-top: -1px;
  -webkit-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  -moz-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
}
.close:hover span:nth-child(1)::after {
  -webkit-transition-delay: .15s;
  -moz-transition-delay: .15s;
  transition-delay: .15s;
  -webkit-transform: rotate(-45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  -moz-transform: rotate(-45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  -ms-transform: rotate(-45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  -o-transform: rotate(-45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  transform: rotate(-45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
}
.close span:nth-child(2)::after,
.close span:nth-child(2)::before,
.close:hover span:nth-child(1)::after,
.close:hover span:nth-child(1)::before {
  background-color: rgba(33, 33, 33, 0);
}
.close span::after {
  -webkit-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -moz-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -ms-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -o-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  transform: rotate(-45deg) translateZ(0) scale(1, 1);
}
.close span::after,
.close span::before {
  content: '';
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #212121;
  margin-top: -1px;
  -webkit-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  -moz-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
}
body[data-state=intro] .contact-modal .close:hover span:nth-child(2)::after,
body[data-state=intro] .contact-modal .close:hover span:nth-child(2)::before {
  background-color: #ffd42d;
}
.close:hover span:nth-child(2)::before {
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
  transform: rotate(45deg) translate3d(0, 0, 0);
}
.close:hover span:nth-child(2)::after,
.close:hover span:nth-child(2)::before {
  background-color: #212121;
}
.close span:nth-child(2)::before {
  -webkit-transform: rotate(45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  -moz-transform: rotate(45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  -ms-transform: rotate(45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  -o-transform: rotate(45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
  transform: rotate(45deg) translate3d(-10px, 0, 0) translateZ(0) scale(1, 1);
}
.close span:nth-child(2)::after,
.close span:nth-child(2)::before,
.close:hover span:nth-child(1)::after,
.close:hover span:nth-child(1)::before {
  background-color: rgba(33, 33, 33, 0);
}
.close span::before {
  -webkit-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -moz-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -ms-transform: rotate(45deg) translateZ(0) scale(1, 1);
  -o-transform: rotate(45deg) translateZ(0) scale(1, 1);
  transform: rotate(45deg) translateZ(0) scale(1, 1);
}
.close span::after,
.close span::before {
  content: '';
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #212121;
  margin-top: -1px;
  -webkit-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  -moz-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
}
.close:hover span:nth-child(2)::after,
.contact-modal .close:hover span:nth-child(2)::before {
  background-color: #ffd42d;
}
.close:hover span:nth-child(2)::after {
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  transition-delay: .4s;
  -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(-45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(-45deg) translate3d(0, 0, 0);
  -o-transform: rotate(-45deg) translate3d(0, 0, 0);
  transform: rotate(-45deg) translate3d(0, 0, 0);
}
.close:hover span:nth-child(2)::after,
.close:hover span:nth-child(2)::before {
  background-color: #2470cf;
}
.close span:nth-child(2)::after {
  -webkit-transform: rotate(-45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  -moz-transform: rotate(-45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  -ms-transform: rotate(-45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  -o-transform: rotate(-45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
  transform: rotate(-45deg) translate3d(10px, 0, 0) translateZ(0) scale(1, 1);
}
.close span:nth-child(2)::after,
.close span:nth-child(2)::before,
.close:hover span:nth-child(1)::after,
.close:hover span:nth-child(1)::before {
  background-color: rgba(33, 33, 33, 0);
}
.close span::after {
  -webkit-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -moz-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -ms-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  -o-transform: rotate(-45deg) translateZ(0) scale(1, 1);
  transform: rotate(-45deg) translateZ(0) scale(1, 1);
}
.close span::after,
.close span::before {
  content: '';
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #212121;
  margin-top: -1px;
  -webkit-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  -moz-transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
  transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
}
/* ----------------------- Helpers ------------------------- */
.aligned:before {
  content: " ";
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
.overflow-auto {
  overflow: auto;
}
.pos-rel {
  position: relative;
}
