/* ----------------------- Reset -------------------------- */
@import url('../fonts/font.css');
* {
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  font-size: 14px;
}
body {
  font-family: 'Montserrat';
  color: #fff;
  background-color: #000;
}
/* ----------------------- Fonts --------------------------- */
/* ------------------ Variables & mixins ------------------- */
/* -------------------- Colors ---------------------- */
/* -------------------- Fonts ---------------------- */
/* -------------------- Steps ---------------------- */
/* ---------------------- Components ----------------------- */
/* ----------------------- Import -------------------------- */
.nav-on-scroll {
  position: fixed;
  width: 100%;
  padding: 50px 60px;
  color: #fff;
  font-size: 1.1rem;
}
/* ----------------------- Helpers ------------------------- */
