.nav-on-scroll {
    position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // width: 100%;
    // padding: @step-xl @step-xxl;
    // color: @c-white;
    // font-size: 1.3rem;
    // box-sizing: border-box;
    // z-index: 10;
}

.burger {
    display: none;
    position: absolute;
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-image: url('../img/menu_w.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media @767 {
        display: inline;
    }
}
.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: @step-xl @step-xl 0;
    color: @c-white;
    font-size: 1.3rem;
    box-sizing: border-box;
    z-index: 10;
    font-size: 0;

    @media @767 {
        padding: 15px 15px 0;
    }

    //.nav__links
    &__links {
        width: calc(~'(100% - 183px) / 2');
        display: inline-block;
        vertical-align: top;

        //.nav__links__close
        &__close {
            width: 25px;
            height: 25px;
            display: none;
            position: absolute;
            top: @step-m;
            left: @step-m;
            background-image: url('../img/close_w.png');
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: cover;

            @media @767 {
                display: block;
            }
        }

        //.nav__links__item 
        &__item {
            display: inline-block;
            opacity: .5;
            font-size: 1.3rem;
            line-height: 37px;

            &:hover {
                opacity: 1;
            }
            & + & {
                margin-left: @step-l;
            }
        }

        @media @767 {
            padding: calc(~'(100vh - 225px) / 2') @step-m;
            position: fixed;
            top: -100vh;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: @c-black;
            transition: top 300ms;
            z-index: 65;
            
            .nav__links__item {
                display: block;
                opacity: 1;
                font-size: 2.3rem;
                font-family: @font-bd;
                margin-left: 0;
                text-transform: capitalize;
                line-height: 75px;
            }

            //.nav__links_mobile-open
            &_mobile-open {
                top: 0;
                transition: top 300ms;
            }
        }
    }

    //.nav__brand
    &__brand {
        width: 183px;
        display: inline-block;
        text-align: center;
        vertical-align: top;


        @media @767 {
            width: 100px;
            margin: 0 auto; 
            display: block;
        }

        &:before {
            content: ' ';
            height: 37px;
            width: 0;
            display: inline-block;
            vertical-align: middle;

            @media @767 {
                height: 18px;
            }
        }
        & a {
            display: inline-block;
            vertical-align: middle;

            img {
                width: 100%;
            }
        }

        //.nav__brand__logo_on-white
        &__logo_on-white {
            display: none;
        }
    }

    //.nav__contact
    &__contact {
        width: calc(~'(100% - 183px) / 2');
        display: inline-block;
        font-size: 1.3rem;
        text-align: right;
        line-height: 37px;
        vertical-align: top;
     
        @media @767 {
            display: none;
        }
        //.nav__contact__link
        &__link {
            display: inline-block;
            opacity: .5;
            &:hover {
                opacity: 1;
            }
        }
        //.nav__contact__icon
        &__icon {
            display: inline-block;
            margin-top: 13px;
            vertical-align: top;

            //.nav__contact__icon_on-dark
            &_on-dark {

            }
            //.nav__contact__icon_on-light
            &_on-light {
                display: none;
            }
        }

        //.nav__contact__text
        &__text {
            display: inline-block;
            vertical-align: top;
            margin-left: 5px;
        }
    }
}
.ha-header-hide {
    & .nav {
        transition: all 0.2s;
        transition-delay: 1s;
    }
}

.ha-header-hide, .ha-header-small {
    & .nav {
        padding: @step-xs @step-xl;

        @media @767 {
            padding-right: 15px;
            padding-left: 15px;
        }
        background-color: @c-black;

        & .nav__brand a img {
            height: 15px;
            // padding-top: 13px;
            // transition: all 0.2s;
            // transition-delay: 1s;

            @media @767 {
                height: 18px;
            }
        }
    }
}

.ha-header {
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	transition: all 1s;

    &-small {
        height: @step-xl;
    }
}