.nav-on-scroll {
    position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // width: 100%;
    // padding: @step-xl @step-xxl;
    // color: @c-white;
    // font-size: 1.3rem;
    // box-sizing: border-box;
    // z-index: 10;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: @step-xl @step-xxl;
    color: @c-white;
    font-size: 1.3rem;
    box-sizing: border-box;
    z-index: 10;
    font-size: 0;
    //.nav__links
    &__links {
        width: calc(~'(100% - 183px) / 2');
        display: inline-block;
        vertical-align: top;

        //.nav__links__item 
        &__item {
            display: inline-block;
            opacity: .5;
            font-size: 1.3rem;
            line-height: 37px;

            &:hover {
                opacity: 1;
            }
            & + & {
                margin-left: @step-l;
            }
        }
    }

    //.nav__brand
    &__brand {
        width: 183px;
        display: inline-block;
        text-align: center;
        vertical-align: top;

        //.nav__brand__logo_on-white
        &__logo_on-white {
            display: none;
        }
    }

    //.nav__contact
    &__contact {
        width: calc(~'(100% - 183px) / 2');
        display: inline-block;
        font-size: 1.3rem;
        text-align: right;
        line-height: 37px;
        vertical-align: top;

        //.nav__contact__link
        &__link {
            display: inline-block;
            opacity: .5;
            &:hover {
                opacity: 1;
            }
        }
        //.nav__contact__icon
        &__icon {
            display: inline-block;
            margin-top: 13px;
            vertical-align: top;

            //.nav__contact__icon_on-dark
            &_on-dark {

            }
            //.nav__contact__icon_on-light
            &_on-light {
                display: none;
            }
        }

        //.nav__contact__text
        &__text {
            display: inline-block;
            vertical-align: top;
            margin-left: 5px;
        }
    }
}