

/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
.pp-tableCell {
    padding: 0 90px;
}
#pp-nav.custom .pp-tooltip{
    position: fixed;
    z-index: 100;

    margin: 0 !important;
    top: 50%;
    opacity: 1;

    ul {
        li {
            display: inline-block;
        }
    }
}

.pp-viewing-page0 {
    // [data-menuanchor="page0"] {
    //     opacity: 1;
    // }
}

.pp-viewing-page1 {
    [data-anchor="page1"] {
        .left-side, .right-side {
            opacity: 1;
            transition: opacity 0.5s 0.5s;
        }
    }
    // [data-menuanchor="page1"] {
    //     opacity: 1;
    // }
    a.underline {
        &:after {
            background-color: @c-black;
        }
    } 
    .nav-on-scroll {
        color: @c-black;  
        a.line-through {
            &:after {
                background-color: @c-black;
            }
        } 
        .nav__brand__logo {
            display: none;
        }
        .nav__brand__logo_on-white {
            display: block;
        }
        .nav__contact__icon_on-dark {
            display: none;
        }
        .nav__contact__icon_on-light {
            display: inline-block;
        }
    }
    .footer, .social-list {
        color: @c-black;
    }
    .page-nav__list__item a div {
        background-color: @c-black;
    }
    .counter {
        color: @c-black;
        display: block;
    }
    .counter__i__list {
        top: 0;
    }
    .social-list__item_on-dark {
        display: none;
    }
    .social-list__item_on-light {
        display: inline-block;
    }
    .stars {
        display: none;
    }
}
.pp-viewing-page2 {
    // [data-menuanchor="page2"] {
    //     opacity: 1;
    // }
    [data-anchor="page2"] {
        .left-side, .right-side {
            opacity: 1;
            transition: opacity 0.5s 0.5s;
        }
    }
    .counter {
        display: block;
    }
    .counter__i__list {
        top: -200px;
    }
    .stars {
        display: none;
    }
}
.pp-viewing-page3 {
    // [data-menuanchor="page3"] {
    //     opacity: 1;
    // }
    [data-anchor="page3"]{
        .left-side, .right-side {
            opacity: 1;
            transition: opacity 0.5s 0.5s;
        }
    }
    .counter {
        display: block;
    }
    .counter__i__list {
        top: -400px;
    }
    .stars {
        display: none;
    }
}
.pp-viewing-page4 {
    // [data-menuanchor="page4"] {
    //     opacity: 1;
    // }
    [data-anchor="page4"]{
        .left-side, .right-side {
            opacity: 1;
            transition: opacity 0.5s 0.5s;
        }
    }
    .counter {
        display: block;
    }
    .counter__i__list {
        top: -600px;
    }
    .stars {
        display: none;
    }
}
.pp-viewing-page5 {
    // [data-menuanchor="page5"] {
    //     opacity: 1;
    // }
    [data-anchor="page5"]{
        .left-side, .right-side {
            opacity: 1;
            transition: opacity 0.5s 0.5s;
        }
    }
    .counter {
        display: block;
    }
    .counter__i__list {
        top: -800px;
    }
    .stars {
        display: none;
    }
}